
 <div class="banner" style="background-image: url(<%=asset_path('banner-image.jpeg')%>);">
  <div class="container">
    <h1>Rally on rails</h1>
    <p class="text-black">Faster and Wild</p>
    <a class="btn btn-secondary" href="/cars">See the listed Cars</a>
  </div>
</div>
