.cards-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.card-product {
  overflow: hidden;
  height: 400px;
  width: 600px;
  margin: 0 auto;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 50%;
  object-fit: cover;
}

.card-product h2 {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.order-card {
  height: 400px;
  width: 600px;
  margin: 0 auto;
}
.listing-card.smaller {
  max-width: 500px;
  margin: 0 auto;
  flex-grow:1;
   /* Adjust the value as per your requirements */
  /* Add any other styles you want to reduce the size */
}
