.navbar-lewagon {
  justify-content: space-between;
  background: rgb(13, 51, 6);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

// .navbar-lewagon{
//   position: fixed
//   height:100%;
//   width:15%;
//   transition: left 0.5s linear;
// }
